<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }

  </style>


<body>

  <h1>Harry Potter</h1>
  <img src="http://static2.businessinsider.com/image/56fe794add089507398b46a9-1200/when-harrys-nimbus-2000-is-destroyed-by-the-whomping-willow-what-broomstick-model-does-he-borrow-from-the-school.jpg">
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="/another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new character: <input type="text" name="name"> 
<p>user id: <input type="text" name="uid"> 
<p>Date of Birth: <input type="text" name="dob"> 

<p>Blood Status: <input type="text" name="bloodstatus"> 
<p>Gender: <input type="text" name="gender"> 
  <input type="submit" value="Add"></p>
  <input type="submit" value="Delete"></p>
  <input type="submit" value="Show"></p>
  <input type="submit" value="Update"></p>

</form>
</body>
</html>
